.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__title-items {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__title {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    color: rgba(34, 34, 34, 1);
}

.header__title:hover {
    color: #1943EF;
}

.header__login {
    font-size: 16px;
    color: #73738D;
    font-weight: bold;
}

.header__nav {
    width: 40%;
}

.header__nav ul {
    display: flex;
}

.header__nav li {
    margin: 0 3%;
}

.header__nav-item a {
    font-size: 16px;
    color: #73738D;
    font-weight: bold;
}

.header__try-it {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    width: 20%;
    max-width: 175px;
    min-width: 130px;
    font-size: 16px;
    white-space: nowrap;
    color: #1943EF;
    border-radius: 33.96px;
    background: #fff;
    border: 1.04px solid #1943EF; 
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.header__try-it:hover {
    background-color: #1943EF;
    color: #fff;
    transform: scale(1.05);
}

.header__login_2 {
    display: none;
}

.menu_button {
    display: none;
}

.header__try-it_2 {
    display: none;
}
