.hero {
    margin-top: 5%;  
}

.hero__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__item-left {
    width: 55%;
    align-items: center;
}

.hero__left-main_text {
    font-size: 50px;
    line-height: 120%;
    margin: 0;
}

.hero__left-text {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 19px;
    color: #73738D;
    line-height: 140%;
}

.hero__left-rectangle_email {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    border-radius: 33px;
    box-shadow: 40px 16px 80.00001px 0px rgba(172, 143, 143, 0.05), 80.00001px -40px 80.00001px 0px rgba(172, 143, 143, 0.13), 0px 80.00001px 240.00002px 0px rgba(136, 116, 116, 0.25);
}

.email_id {
    font-size: 16px;
    width: 65%;
    border: #FFF;
}

.email_id:hover {
    border-bottom: 2px solid #0f2be7;
}

.email_id:focus {
    outline: none;
}

.hero__try-it {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    width: 50%;
    font-size: 16px;
    max-width: 175px;
    min-width: 130px;
    color: #FFF;
    border-radius: 33.96px;
    background-color: #1943EF;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease; 
}

.hero__try-it:hover {
    background-color: #fff;
    color: #1943EF;
    border:  1.04px solid #1943EF;
    transform: scale(1.05);
}

.hero__item-right {
    width: 35%;
}

.hero__img-phone {
    width: 280px;
}
